<h1>JOIN US</h1>
<p>Enter your email to join <strong><%=count%></strong> others on our wait-list. We are 100% not a cult.</p>
<form method="POST" action="/register">
    <label>
        <input type="text" class = "form" name="email" placeholder="Enter your Email">
    </label>
    <button>Join Now</button>
</form>