<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>NewsLetter</title>
</head>
<body>
    <h1>Thank you for registering!</h1>
</body>
</html>